
.ai_button {
    color: white;
	background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0)) !important;
	background-repeat: no-repeat;
	border-radius: 40px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	/* z-index: 1; */
	transition: all 0.3s ease-in;
}

.background {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(102.81deg, #fff 0%, #fff 100%) !important;
	transition: 0.5s;
	z-index: -1;
	border-radius: 50%;
	opacity: 0;
}
.ai_button:hover {
    transform: scale(1.07);
}
.ai_button:hover p {
	background: -webkit-linear-gradient(102.81deg, #f3c048 0%, #b90ca3 50.52%, #1d9aff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ai_button:hover .background {
	width: 150%;
	height: 406%;
	opacity: 1;
}